.section__1{
    text-align: left;
    padding: 15px;
    line-height: 1.5;
    font-size: 1.8rem;
    padding: 40px 15px;

    @media (width > 768px) {
        padding: 40px;   
    }

    @media (width > 1280px) {
        padding: 91px 275px;   
    }

    & h2{
        font-family: $titulos;
        font-size: 2.4rem;

        @media (width > 768px){
            font-size: $titletablet;
        }

        @media (width > 1280px){
            font-size: $titledesk;
        }
    }

    & p{
        font-size: 1.8rem;
        
        @media (width > 768px){
            font-size: 2rem;
        }

    }

&--boton{
    padding: 10px 20px;
    border: 2px solid $orange;
    border-radius: 50px;

    &:hover{
        background-color: $orange;
        color: $white;
    }
}

&--container-boton{
    margin-top: 30px;
}

& a{
    text-decoration: none;
    color: $orange;
}

& span{
    color: $light-blue;
}
}