.section__banner{
    background-image: url("/images/Copia\ de\ cover.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: $white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;

    &--scroll{
        width: 45px;
        height: 45px;
        background-color: $white;
        border-radius: 50%;
        margin-bottom: 50px;
    }

    &--down{
        width: 100%;
        padding:20px 15px;
    }

    & h1{
        font-size: 4rem;
        font-family: $titulos;

        @media (width > 768px){
            font-size: 8rem
        }

        @media (width > 1280px){
            font-size: 10rem
        }
    }

    & p{
        font-size: 1.6rem;

        @media (width > 768px0){
            font-size: 2.4rem
        }
    }
}