<footer class="footer">
    <a href="#banner">
    <div class="footer__container">
    <img src="/images/Copia de ico-arrow.svg" alt="" class="footer__container--flecha">
    </div>
    </a>

    <ul class="footer__derechos">
        <li>©2022</li>
        <li>We <i class="fa-solid fa-heart" style="color: #F26002;"></i> components</li>
    </ul>

    <ul class="footer__secciones">
        <li><a href="https://adalab.es/">ARTICLES</a></li>
        <li><a href="https://adalab.es/">BOOKS</a></li>
        <li></li><a href="https://adalab.es/">EVENTS</a></li>
        <li><a href="https://adalab.es/">REASONS</a></li>
        <li><a href="https://adalab.es/">TIPS</a></li>
    </ul>
    
    <ul class="footer__redes">
        <li><a href="https://adalab.es/">TWITTER</a></li>
        <li><a href="https://adalab.es/">INSTAGRAM</a></li>
        <li><a href="https://adalab.es/">MASTODON.SOCIAL</a></li>
    </ul>
</footer>