<section class="container" id="reasons">
    <h3>3 reasons to Purchase</h3>
    <div class="container__reasons">
        <article>
            <h4>Ut Sed Metus</h4>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
        </article>

        <article>
            <h4>Ut Sed Metus</h4>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
        </article>

        <article>
            <h4>Ut Sed Metus</h4>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
        </article>
    </div>
    <div class="container__reasons--boton-box">
    <a href="https://adalab.es" target="_blank" class="container__reasons--boton">More Reasons</a>
    </div>
</div>
</section>