<section class="section__1">
    <article class="section__1--main">
        <span>Insomnia Tips</span>
        <h2>Looking Through A Window</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos veritatis alias aut repellat blanditiis a veniam commodi facere maiores repudiandae voluptatem, modi illum, officia odit sapiente consequatur ullam in at?</p>
        <div class="section__1--container-boton">
        <a href="https://adalab.es" target="_blank" class="section__1--boton">Go</a>
        </div>
    </article>
</section>